.no_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_found h1{
    color: var(--negro);
}

.no_found a {
  color: var(--primary);
  text-decoration: none;
  font-size: 3rem;
  margin: 0;
}
